name: Telemetry CI

on:
  push:
    branches: [ "master", "telemetry" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install toolchain (arm-none-eabi)
      run: sudo apt-get update && sudo apt-get install gcc-arm-none-eabi
    - name: Build debug target
      run: cd Telemetry/Debug/ && make -j$(nproc) all && arm-none-eabi-objcopy -O binary telemetry.elf telemetry.bin
      
    - name: Get branch name and commit hash
      run: |
        echo "branch_name=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV
        echo "commit_hash=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Collect build artifacts
      run: mkdir build && cp Telemetry/Debug/*.* build
      
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ${{ env.branch_name }}-build-${{ env.commit_hash }}
        path: build
